<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    #RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^pmb2\.poltektedc\.ac\.id$ [OR]
    RewriteCond %{HTTP_HOST} ^www\.pmb2\.poltektedc\.ac\.id$
    RewriteRule ^login$ "http\:\/\/pmb2\.poltektedc\.ac\.id\/pmb" [R=301,L]

    RewriteCond %{HTTP_HOST} ^sim\.poltektedc\.ac\.id$ [OR]
    RewriteCond %{HTTP_HOST} ^www\.sim\.poltektedc\.ac\.id$
    RewriteRule ^pmb$ "http\:\/\/sim\.poltektedc\.ac\.id" [R=301,L]

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php

</IfModule>
